body {
  background: url("img/bg.png") no-repeat center center/cover;
  height: 100vh;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.login-box {
  position: relative;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
  padding: 60px 68px 40px;
  border-radius: 4px;
  max-width: 450px;
  margin: auto;
  color: white;
}
.form-control {
  background-color: #333 !important;
  border: none !important;
  color: white !important;
}
.form-control::placeholder {
  color: #b3b3b3;
}
.btn-netflix {
  background-color: #e50914 !important;
  border: none;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}
.btn-netflix:hover {
  background-color: #f6121d !important;
}
